body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

#portfolio-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  width: 90%;
  max-width: 1280px;
  margin: 2rem auto;
  padding: 0;
}

@media (min-width: 768px) { 
  #portfolio-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1130px) { 
  #portfolio-grid {
      grid-template-columns: repeat(3, 1fr);
  }
}

.portfolio-item {
  width: 95%;
  max-width: 400px;
  margin: auto ;
  border: 0.4rem solid var(--dark);
  padding-top: 1.8rem;
  object-fit: contain;
  background-color: var(--timber);
  border-radius: 10px;
}

@media (min-width: 1400px) {
  .portfolio-item {
      max-width: 600px; 
  }
}


.portfolio-item a {
  text-decoration: none;
  color: var(--dark);
  font-size: 1.5rem;
}

.portfolio-item img {
  width: 100%;
  height: 16.5rem;
  object-fit: cover;
  border: 1px solid var(--dark);
  text-align: center;
  border-radius: 5px;
}

.portfolio-item h4 {
  margin: 0.5rem 0;
  margin-bottom: 0.75rem;
  text-align: center;
}

.small-portfolio-title {
  font-size: 1.3rem
}